html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
a.full {
  width: 100%;
  height: 100%;
  display: table;
}
ul,
li {
  list-style-type: none;
}
body {
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
::-moz-selection {
  background: black;
  text-shadow: none;
  color: white;
}
::selection {
  background: black;
  text-shadow: none;
  color: white;
}
.icon {
  font-family: 'icomoon';
}
#content {
  width: 100%;
  height: 100vh;
  display: table;
  background: url(../img/bg.jpg) no-repeat center top;
  background-size: cover;
  font-family: 'Oswald';
}
#content .works-btn {
  width: 40px;
  position: absolute;
  top: 100px;
  right: 100px;
  cursor: pointer;
}
#content .works-btn .line {
  width: 100%;
  height: 5px;
  background: white;
  border-radius: 50px;
  margin-bottom: 5px;
  position: relative;
  /*&:nth-child(1) { .transitionDelay(0.1); }
            &:nth-child(2) { .transitionDelay(0.2); }
            &:nth-child(3) { .transitionDelay(0.3); }*/
}
#content .works-btn .line.x-dir {
  transform: rotateZ(45deg) !important;
  -webkit-transform: rotateZ(45deg) !important;
  top: 10px;
  position: relative;
}
#content .works-btn .line.x-esq {
  transform: rotateZ(-45deg) !important;
  -webkit-transform: rotateZ(-45deg) !important;
  top: -10px;
  position: relative;
}
#content .works-btn:hover .line {
  background: #999999;
}
#content .lines {
  width: 240px;
  position: absolute;
  top: 100px;
  left: 100px;
}
#content .lines p {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: 44px;
  left: 0;
}
#content .lines p.cor {
  color: #ffcd40;
}
#content .info {
  width: auto;
  display: table;
  position: absolute;
  bottom: 100px;
  left: 100px;
}
#content .info .link {
  float: left;
  width: auto;
  display: table;
  margin-right: 10px;
  position: relative;
}
#content .info .link.fb,
#content .info .link.git {
  width: 36px;
  height: 37px;
}
#content .info .link.fb a,
#content .info .link.git a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#content .info .link.git {
  background: url(../img/git.png) no-repeat 0 0;
}
#content .info .link.fb {
  background: url(../img/fb.png) no-repeat 0 0;
}
#content .info .link.mail {
  width: 220px;
  margin: 7px 0 0 5px;
}
#content .info .link.mail .line {
  width: 0%;
  height: 1px;
  background: #ffcd40;
  position: absolute;
  top: 11px;
  left: 0;
}
#content .info .link a {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content .info .link a:hover {
  color: #cccccc;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  #content .lines {
    top: 20px;
    left: 20px;
  }
  #content .info {
    bottom: 20px;
    left: 0px;
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
