@import "util.less";
@import "transform.less";
@import "royalslider.css";


@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-9f40d');
    src:url('../fonts/icomoon.eot?#iefix-9f40d') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-9f40d') format('woff'),
        url('../fonts/icomoon.ttf?-9f40d') format('truetype'),
        url('../fonts/icomoon.svg?-9f40d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ok:before {
    content: "\61";
}

.icon-chevron-thin-left:before {
    content: "\67";
}

.icon-chevron-thin-right:before {
    content: "\68";
}

.icon-heart:before {
    content: "\69";
}

.icon-facebook:before {
    content: "\64";
}

.icon-github4:before {
    content: "\66";
}




html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// font-family: 'Lato', sans-serif;

@cinza: #9D9D9D;
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0; padding: 0; } 
a { text-decoration: none; }
a.full { width: 100%; height: 100%; display: table; }
ul, li { list-style-type: none; }

body { overflow: hidden;height: 100vh; }


*, *:before, *:after { .border-box; }
.show { opacity: 1; }
.hide { opacity: 0; }


::-moz-selection {
    background: black;
    text-shadow: none;
    color: white;
}

::selection {
    background: black;
    text-shadow: none;
    color: white;
}

.icon {
    font-family: 'icomoon';
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/bg.jpg);
    background-size: cover;
    font-family: 'Oswald';

    
    .works-btn {
        width: 40px;
        position: absolute;
        top: 100px; right: 100px;
        cursor: pointer;
        z-index: 99999;

        .line {
            width: 100%;
            height: 5px;
            background: white;
            border-radius: 50px;
            margin-bottom: 5px;
            position: relative;

            
            /*&:nth-child(1) { .transitionDelay(0.1); }
            &:nth-child(2) { .transitionDelay(0.2); }
            &:nth-child(3) { .transitionDelay(0.3); }*/

            &.x-dir {
                #transform > .rotateZ(45) !important;
                top: 10px;
                position: relative;
            }

            &.x-esq {
                #transform > .rotateZ(-45) !important;
                top: -10px;
                position: relative;
            }

        }

        &:hover {
            .line { background: darken(white, 40%); }
        }

    }


    .lines {
        width: 240px;
        position: absolute;
        top: 100px; left: 100px;

        p {
            .font(38, white, -1, normal, 700);
            line-height: 44px;
            left: 0;

            &.cor { color: #ffcd40; }

        }
    }


    .info {
        width: auto;
        display: block;
        position: absolute;
        bottom: 100px;
        left: 100px;

        .link {
            float: left;
            width: auto;
            display: block;
            margin-right: 10px;
            position: relative;

            &.fb, &.git { 
                width: 36px;
                height: 37px;

                a { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

            }

            &.git { background: url(../img/git.png) no-repeat 0 0; }
            &.fb { background: url(../img/fb.png) no-repeat 0 0; }
            &.mail { 
                width: 220px;
                margin: 7px 0 0 5px;
               
                .linec {
                    width: 0%;
                    height: 1px;
                    background: #ffcd40;
                    position: absolute;
                    top: 11px; left: 0;
                }

            }

            a {
                width: 100%;
                .font(16, white, 0, normal, 700);
                text-align: center;
                .easeoutexpo;
                &:hover { color: darken(white, 20%); }
            }
        }
    }
}

.perfil{
    position: fixed;
    top: 0;left: 0;
    width: 100%;height: 100%;



    .bg-perfil{
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;left: 0;
        width: 100%;height: 100%;
    }
    .corpo-perfil {
        height: 100vh;
        overflow-y: scroll;
    }
    .maicol{
        background: #fff url(../img/bg-perfil.png) no-repeat;
        position: relative;
        width: 794px;
        margin-bottom: 50px;
        left: 50%;
        margin-left: -397px;
        padding: 0 57px 50px;

        .logo-perfil{
            border-radius: 100%;
            overflow: hidden;
            width: 184px;
            margin: auto;
            position: relative;
            top: 111px;
        }
        .content-perfil{
            margin-top: 120px;
            text-align: center;
            h2{
                text-transform: uppercase;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 34px;
                color: #4f4f4f;

            }
            h3{
                font-family: 'Lato', sans-serif;
               font-weight: 300;
               font-size: 18px;
               color: @cinza;
            }
        }
        .campo-slide{
            // height: 304px;
            // width: 453px;
            float: left;

            .slider{
                background: #e4e4e4;
                height: 304px;
                width: 453px;
                text-align: center;
                margin:36px 0;

                .banner{
                    margin-top: 41px;
                }

                .rsBullets {
                    margin: auto;
                    width: 90px;
                    position: relative;
                    bottom: 17px;
                }
                .rsNavItem {
                    width: 10px;
                    height: 10px;
                    background: #9c9c9c;
                    float: left;
                    border-radius: 100%;
                    margin: 0 10px;
                }
                .rsNavSelected{
                    background: #333;
                }
            }
            .prevs{
                width: 453px;
                font-family: 'icomoon';
                font-size: 45px;
                font-style: normal;
                font-weight: normal;
                letter-spacing: 0px;
                color: #9c9c9c;
                position: absolute;
                z-index: 1000;
                cursor: pointer;
                bottom: 175px;
                left: 57px; 
                opacity: 0.5;

                .nav-next {
                    position: absolute;
                    right: 0px;
                }
                .nav-prev {
                    position: absolute;
                    left: 0px;
                }
            }
        }
        .side-perfil{
            width: 171px;
            float: right;
            margin:36px 0;

            h2{
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 34px;
                color: #4f4f4f;
                float: left;
            }
                
            .linha{
                width: 87px;
                height: 1px;
                background: #4f4f4f;
                float: right;
                position: relative;  
                top: 25px; 
            }

            ul{
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                color: @cinza;
                font-size: 18px;

                li{
                    margin-bottom: 5px;

                    &:before{
                        content: "\61";
                        font-family: 'icomoon';
                        color: rgb(120, 182, 167);
                        margin-right: 10px;
                    }
                }

            }
        }
        .hello{
            width: 285px;
            float: left;

            h2{
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 34px;
                color: #4f4f4f;
                float: left;
            }
            .linhas{
                width: 30px;
                height: 1px;
                background: #4f4f4f;
                float: right;
                position: relative;  
                top: 25px; 
            }

            .form{
                float: left;

                input, textarea{
                    border: none;
                    background: #e4e4e4;
                    width: 100%;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    padding: 7px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    color: @cinza;
                    font-size: 18px;
                }

                .btn-enviar{
                    float: right;
                    background: #ccc;
                    border: none;
                    color: #fff;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 400;
                    // text-transform: uppercase;
                    border-radius: 4px;
                    padding: 7px 25px;
                    border-bottom: 3px solid #B1B1B1;

                    &:before{
                        content: 'Enviar';
                    }
                   
                }
                .enviado{
                    &:after{
                        content: 'Enviado';

                    }
                    &:before{
                        content: '\61';
                        font-family: 'icomoon';
                        color: #fff;
                        margin-right: 10px;
                    }
                }
            }
        }
        .blog{
            margin-left: 57px;
            float: left;
            background: #61a18f;
            margin-top: 15px;
            border-radius: 4px;
            overflow: hidden;
            width: 330px;

            img{
                float: left;
                margin-right: 15px;
            }
            h2{
                color: #fff;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                padding: 15px;
                font-size: 28px;
            }
            p{
                color: #fff;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
            }
            .redes{
                background: #efeded;
                padding: 15px;
                text-align: center;


                li{
                    display: inline-block;
                    color: #adadad;
                    font-size: 15px;
                    border-right: 1px solid #adadad;
                    padding: 0 15px;

                    &:last-child{
                        border-right: none;
                    }

                    a{
                        font-family: 'icomoon';
                        color: #adadad;
                        padding: 10px;
                        font-size: 20px;
                    }
                }
            }
        }
       
    }
    
}





.clearfix{
    clear: both;
    display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    .content .lines { top: 20px; left: 20px; }
    .content .info { bottom: 20px; left: 0px; #transform > .scale(0.8, 0.8); }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .content .opened .line{
        background: #558E7E;
    }
}
@media screen and (min-width: 300px) and (max-width: 767px){
    .content .opened .line{
        background: #558E7E;
    }
    .content .lines p{
        font-size: 27px;
    }
    .content .works-btn{
        top: 32px;
        right: 32px;
    }
    .perfil .maicol .hello{
        width: 100%;
        margin-bottom: 20px;
    }
    .perfil .maicol{
        width: 100%;
        left: 0;
        margin-left: 0;
        padding: 0 10px;
        margin-bottom: 0;
    }
    .perfil .maicol .campo-slide,
    .perfil .maicol .side-perfil,
    .perfil .maicol .blog {
        float: inherit;
    }
    .perfil .maicol .campo-slide .slider,
    .perfil .maicol .side-perfil,
    .perfil .maicol .blog,
    .perfil .maicol .hello .form .btn-enviar,
    .perfil .maicol .campo-slide .slider .banner,
    .perfil .maicol .campo-slide .slider .banner img{
        width: 100%;
    }
    .rsOverflow{
        width: 100%!important;
    }
    .perfil .maicol .side-perfil .linha{
        display: none;
    }
    .perfil .maicol .blog{
        margin-left: 0;
        margin-bottom: 50px;
    }
    .perfil .maicol .blog .redes li a{
        padding: 3px;
    }
    .perfil .maicol .blog .redes li{
        padding: 0 10px;
    }


}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}