@font-face {
  font-family: 'cat';
  src: url('../fonts/Catorze27Style1Bold.eot');
  src: url('../fonts/Catorze27Style1Bold.eot') format('embedded-opentype'), url('../fonts/Catorze27Style1Bold.woff2') format('woff2'), url('../fonts/Catorze27Style1Bold.woff') format('woff'), url('../fonts/Catorze27Style1Bold.ttf') format('truetype'), url('../fonts/Catorze27Style1Bold.svg#Catorze27Style1Bold') format('svg');
}
@font-face {
  font-family: 'helv';
  src: url('../fonts/HelveticaNeueLTProMd.eot');
  src: url('../fonts/HelveticaNeueLTProMd.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTProMd.woff2') format('woff2'), url('../fonts/HelveticaNeueLTProMd.woff') format('woff'), url('../fonts/HelveticaNeueLTProMd.ttf') format('truetype'), url('../fonts/HelveticaNeueLTProMd.svg#HelveticaNeueLTProMd') format('svg');
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?bkmgu0');
  src: url('../fonts/icomoon.eot?#iefixbkmgu0') format('embedded-opentype'), url('../fonts/icomoon.woff?bkmgu0') format('woff'), url('../fonts/icomoon.ttf?bkmgu0') format('truetype'), url('../fonts/icomoon.svg?bkmgu0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-down:before {
  content: "\64";
}
html,
button,
input,
select,
textarea {
  color: #222;
  outline: none;
}
html {
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e9e7e7;
  margin: 1em 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
a {
  outline: none!important;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
a.full {
  width: 100%;
  height: 100%;
  display: block;
}
ul,
li {
  list-style-type: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
body {
  background: #171717;
  overflow-x: hidden;
  color: white;
}
h1 {
  font-family: 'helv';
  font-size: 3em;
  font-weight: 100;
  line-height: 1em;
  letter-spacing: -1px;
}
.content {
  position: relative;
}
.content .gradient {
  width: 100%;
  height: 790px;
  background: url(../img/content-bg.png) repeat-x bottom;
  position: absolute;
  top: 60vh;
  left: 0;
  z-index: 0;
}
.content .container {
  width: 100%;
  position: relative;
  z-index: 1;
}
.content .container .cover {
  width: 100%;
  height: 100vh;
  position: relative;
}
.content .container .cover .sign {
  width: auto;
  height: 70px;
  display: table;
  position: absolute;
  top: 50%;
  left: 25vh;
  margin-top: -35px;
  z-index: 5;
}
.content .container .cover .sign h1{
  opacity: 0;
}
.content .container .cover .sign span {
  opacity: 0;
  font-family: 'cat';
  font-size: 1.3em;
  letter-spacing: 5px;
}
.content .container .cover .background {
  width: 100%;
  height: 100%;
  background: url(../img/maicol.png) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.08;
}
.content .container .cover canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.content .container .cover .down {
  font-family: 'icomoon';
  position: absolute;
  left: 25vh;
  bottom: 20px;
  font-size: 2em;
  transform: scale(0);
}
.content .container .about {
  width: 1024px;
  margin: 60px auto 60px;
  padding-bottom: 100px;
  border-bottom: 1px solid #303030;
}
.content .container .about .col-1 {
  width: 20%;
  float: left;
}
.content .container .about .col-2 {
  width: 40%;
  float: left;
}
.content .container .about .col-1 h2,
.content .container .about .col-2 h2 {
  font-family: 'cat';
  font-size: 1.3em;
  margin-bottom: 25px;
  letter-spacing: 5px;
}
.content .container .about .col-1 a,
.content .container .about .col-2 a {
  position: relative;
}
.content .container .about .col-1 a:before,
.content .container .about .col-2 a:before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  background: white;
  z-index: 1;
  top: 16px;
  left: 0;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
.content .container .about .col-1 a:hover:before,
.content .container .about .col-2 a:hover:before {
  width: 70%;
}
.content .container .about .col-1 span,
.content .container .about .col-2 span,
.content .container .about .col-1 a,
.content .container .about .col-2 a,
.content .container .about .col-1 p,
.content .container .about .col-2 p {
  color: white;
  font-family: 'Roboto', sans-serif;
  clear: both;
  display: block;
  line-height: 30px;
  font-size: 1.2em;
}
.content .container .about .col-1 p,
.content .container .about .col-2 p {
  margin-bottom: 10px;
}
.content .container .awards{
  width: 1024px;
  margin: auto;
}
.content .container .awards .premios{
  width: 10%;
  float: left;
  position: relative;
  top: -35px;
}
.content .container .awards .premios img{
  width: 100%;
}
.content .container .awards .copy {
  width: 70%;
  margin: auto;
  text-align: right;
  float: right;
  font-family: 'cat';
  font-size: 0.6em;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.content .container .copy a {
  color: white;
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.clearfix {
  display: block;
  clear: both;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 1280px) {
  .content .container .cover .sign,
  .content .container .cover .down {
    left: 18%;
  }
}
@media screen and (max-width: 1024px) {
  .content {
    background: url(../img/maicol-bg.png) no-repeat;
    background-size: contain;
    background-position-y: 5vh;
  }
  .content .container {
    width: 100%;
    padding: 0 3%;
  }
  .content .container .about {
    width: 100%;
  }
  .content .container .cover .sign,
  .content .container .cover .down {
    left: 1%;
  }
  .content .container .awards{
    width: 100%;
  }
  .content .container .awards .copy {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .content {
    background-position-y: 20vh;
  }
  .content .container {
    padding: 0 5%;
  }
  .content .container .cover .sign h1 {
    font-size: 2em;
  }
  .content .container .about .col-1 {
    width: 100%;
    margin-bottom: 50px;
  }
  .content .container .about .col-2 {
    width: 100%;
  }
  .content .container .about .col-1 h2,
  .content .container .about .col-2 h2,
  .content .container .about .col-1 span,
  .content .container .about .col-2 span,
  .content .container .about .col-1 a,
  .content .container .about .col-2 a,
  .content .container .about .col-1 p,
  .content .container .about .col-2 p {
    font-size: 1em;
  }
  .content .container .awards .premios{
    width: 50%;
  }
  .content .container .awards .copy{
    width: 100%;
    text-align: center;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
